<p id="notice"><%= notice %></p>

<div class="feed">
  <div class="userInfo"><%= current_user.username%><br><%=current_user.posts.count%>Posts</div>
  <div class="posts">
    <% @posts.each do |post|%>
      <div class="post">
          <div class="post-top">
              <h1><%= post.user.username %></h1>
              <% if current_user.id == post.user.id%>
                <span><%= link_to 'Edit', edit_post_path(post) %></span>
              <% end %>
          </div>
          <div class="post-body">
              <h3><%= post.body %></h3>
          </div>
          <div class="post-bottom">
            <div class="like"><%= post.likes.count%> likes
                <% like = current_user.likes.find_by(post: post) %>
                <% if like.nil? %>
                  <%= button_to "Like", likes_path, params: { like: { post_id: post.id}}, method: :post %>
                <% else %>
                  <%= button_to "Unlike", like_path(like), method: :delete %>
                <% end %></div>
            <div class="comment">
            <%= link_to post do %>
              <%= post.comments.count%> comments
            <% end %>
            
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
