<p id="notice"><%= notice %></p>

<div class="feed">
  <div class="user-info">
    <span class="username"><%= current_user.username %></span><br>
    <span class="info"><%=current_user.posts.count%> Posts</span>
  </div>

  <div class="posts">
    <%= render 'form', post: @post %>
    <% @posts.each do |post|%>
      <div class="post">
          <div class="post-top">
              <span class="post-username"><%= post.user.username %></span>
              <% if current_user.id == post.user.id%>
                <span><%= link_to 'Edit', edit_post_path(post), class: "post-edit" %></span>
              <% end %>
          </div>
          <div class="post-body">
              <h3><%= post.body %></h3>
          </div>
          <div class="post-bottom">
            <div class="like"><%= post.likes.count%> likes
                <% like = current_user.likes.find_by(post: post) %>
                <% if like.nil? %>
                  <%= button_to "Like", likes_path, params: { like: { post_id: post.id}}, method: :post %>
                <% else %>
                  <%= button_to "Unlike", like_path(like), method: :delete %>
                <% end %>
              </div>
            <div class="comment">
            <%= link_to post do %>
              <%= post.comments.count%> comments
            <% end %>
            
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
